/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

li {
  list-style: none;
}

/* Nav */
.navbar {
  background-color: black;
}
.navbar i {
  color: white;
  cursor: pointer;
}

.navbar i:hover {
  color: gray;
}

.navbar ul a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.navbar ul a:hover {
  color: gray;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 40%;
  background: black;
  padding: 0 2rem;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  /* height: 100%; */
  gap: 2rem;
}

.navbar .menu-items.active {
  transform: translateX(0);
}

.title {
  color: red;
  font-size: 2rem;
}

/* Hero */
.hero {
  /* background-color: black;
  color: white; */
}

.hero ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Footer */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-list {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer-list a {
  color: white;
}
